html,
body {
    font-size: 10px;
    width: 100%;
    height: 100%;
}


.btn-primary {
    border: 0px;
    background-color: rgb(250, 103, 5);
    border-radius: 25px;

}

.btn-primary:hover {
    background-color: rgb(225, 74, 19);
}

header.startup {
    background-image: url(https://www.teahub.io/photos/full/333-3333733_aesthetic-wallpaper-for-laptop.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;

}

hr {
    max-width: 65px;
    border-width: 3px;
    background-color: #F05F44;

}

/* This is just done using inspect method i font know the selectors here */
#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: auto;
    margin-left: 30em;
    margin-top: 20em;
}

#mc_embed_signup input {
    align-items: center;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 39px;
}

#mc-embedded-subscribe {
    clear: both;
    width: 15em;
    display: block;
    margin: 10rem 0 0rem 10rem 50%;
}


.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;


}

.btn-xl {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-size: 1.2rem;
}

header.startup h1 {
    font-size: 2rem;
    font-family: Montserrat;
}

a {
    color: white;
}